*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.footer-container {
    background-color: grey;
    padding-bottom: 4rem;
}

.footer{
    width: 80%;
    height: 15vh;
    background-color: grey;
    color:white;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
}

.footer-heading{
    display:flex;
    flex-direction: column;
    margin-right:4rem;
    width:20%;
}

.footer-heading h2{
    margin-bottom:2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-heading h3{
    margin-bottom:2rem;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-heading img{
    cursor:pointer;
    width:100px;
    border-radius: 50%;
    margin-top: 30px;
}
