.logo{
    cursor:pointer;
    width:120px;
    border-radius: 50%;
    float:left;
    padding:15px 20px;
}

*{
    margin:0;
    padding:0;
}

nav{
    width:100%;
    height:15vh;
    background-color: grey;
}

nav ul{
    float: right;
    padding:90px 150px;
}

nav ul li{
    float:left;
    list-style: none;
    position: relative;
    padding: 0px 50px;
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;
    padding: 24px 12px;
    text-decoration: none;
}

nav ul li ul{
    display:none;
    position: absolute;
    background-color: grey;
    padding:15px;
}

nav ul li:hover ul{
    display:block;
}

nav ul li ul li a{
    padding:8px 12px;
}

nav ul li ul li a:hover{
    background-color: blue;
}

nav ul li ul li{
    width: 250px;
}

nav ul li:hover{
    background-color: blue;
}

